{{message}}
	<section class="create" ng-controller="validateController">	
		<form class="ch-form" name="createForm" id="createForm"  ng-submit="submitForm()" novalidate>	
			<input type="hidden" id="initPoint" name="initPoint" value="">
			<div class="ch-g2-3">
				<fieldset data-step="reason">
					<legend>Para qué juntamos plata</legend>
					<div class="ch-form-row ch-form-required">
						<label>Motivo: <em>*</em></label>
						<textarea id="description" class="extra-large" name="description" ng-model="description" required></textarea>
					</div>
					<div class="ch-form-row ch-form-required">
						<label>Hay que juntar: <em>*</em></label>
						$ <input type="number" class="small" ng-init="amount='0'" ng-model="amount" min="1" required>
					</div>
				</fieldset>
				<fieldset data-step="who">
					<legend>Quiénes ponen plata</legend>
					<div class="ch-form-row me-included">
						<input type="checkbox" ng-model="meIncluded" ng-true-value="1" ng-false-value="0">
						<label for="meIncluded">Yo incluído</label> <i id="meIncludedHelp" class="ch-icon-question-sign"></i>
					</div>
					<div class="ch-form-row ch-form-required" ng-repeat="item in items">
						<label>Email: <em>*</em></label>
						<input type="email" class="extra-large" type="email" ng-model="email" ng-required="true">
						<i class='ch-icon-remove-sign remove' ng-click="remove($index)"></i>
					</div>
					<div id="moreEmail"></div>	
					<span class="add-email"><a ng-click="add()"><i class="ch-icon-plus-sign"></i> Agregar otro</a></span>
				</fieldset>
			</div>
			<aside data-step="summary" class="ch-g1-3">
				<h2>Revisa y confirma</h2>
				<dl class="summary">
					<dt>Hay que juntar: </dt>
					<dd>{{amount}}</dd>
					<dt>Costo del servicio: <i id="servicesCostsHelp" class="ch-icon-question-sign"></i></dt>
					<dd id="serviceAmount" name="serviceAmount">{{(amount *  0.08).toFixed(2)}}</dd>
					<dt>Monto Total a Pagar: </dt>
					<dd id="finalAmount" name="finalAmount">{{(amount  *  1.08).toFixed(2)}}</dd>
					<dt>Ponen plata:</dt>
					<dd id="quantityForAmount" name="quantityForAmount">{{items.length -- meIncluded}}</dd>
					<dt>Cuanto pone cada uno: </dt>
					<dd id="partialAmount" name="partialAmount" ng-model="partialAmount" ng-value="partialAmount=((amount  *  1.08)/(items.length -- meIncluded)).toFixed(2)">{{partialAmount}}</dd>
				</dl>
			</aside>
			<div class="ch-form-actions">
				<button class="ch-btn ch-btn-big" id="next" type="submit" ng-disabled="createForm.$invalid">Confirmar la vaquita</button>
				<p class="disclaimer">Necesitamos tu permiso para juntar la plata y depositarla en tu cuenta de MercadoPago, por eso al confirmar, te pediremos que conectes tu cuenta.</p>
			</div>
		</form>
	</section>
